* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}



header {
    margin-top: 30px;
    margin-left: 30px;

    & h1 {
        font-size: 45px;
         font-family: "Edu NSW ACT Cursive", cursive;
         font-weight: bold;
         color: #0808FF;
    }
}

.box {
    
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    padding: 20px;
    color: #000;
    margin-left: 300px;
    margin-bottom: 20px;
    padding-top: 10px;
    gap: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;

    & label{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 17px;
    }

    & input{
        width: 260px;
        height: 35px;
        border-radius: 10px;
        border: 2px solid #0808FF;
        outline: none;
    }
    
    
   
}

.choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;

    & p{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: bold;
        font-size: 17px;
    }

   
}

.save {
    width: 80px;
    height: 40px;
    background-color: #00F721;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.save:hover{
    opacity: 0.8;
}

.clean {
    width: 80px;
    height: 40px;
    background-color: #F30916;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.clean:hover{
    opacity: 0.8;
}


